@import "tailwindcss";

@theme {
  --font-sans: "DM Sans", sans-serif;
  --font-display: "DM Sans", sans-serif;

  --color-black: #000000;
  --color-gray-300: #D1D5DB;
  --color-gray-400: #9CA3AF;
  --color-gray-500: #6B7280;
  --color-gray-700: #374151;
  --color-gray-800: #1F2937;
  --color-gray-900: #111827;
  --color-rose-400: #FB7185;
  --color-rose-500: #F43F5E;
  --color-rose-700: #BE123C;
  --color-rose-800: #9F1239;
  --color-green-600: #16A34A;
  --color-green-700: #15803D;
  --color-yellow-500: #EAB308;
  --color-red-600: #DC2626;
}